{define #checkbox_DogMating_control}
<div class="form-group">
    <span style="font-size: 13px;display:block;margin-bottom: 5px;font-weight:bold;">{_$description} <i class="fa fa-question-circle tooltip_brown" style="color:#83765E"></i></span>
    <label class="checkbox-inline" style="font-size: 13px;">
        <input type="checkbox" id="{$id}" name="{$name}" class="radio" value="Yes">{_ 'Yes'}
    </label>
</div>
{/define}