{define #textbox_control}
<div class="form-group">
    <span style="font-size: 13px;display:block;margin-bottom: 5px;font-weight:bold;">{_$description} <i class="fa fa-question-circle tooltip_brown" style="color:#83765E" ></i></span>
    <input type="text" class="form-control font_size_13px" id="{$id}" name="{$name}" placeholder="{_$placeholder}">
</div>
{/define}