{define #textarea_control}
<div class="form-group">
    <span style="font-size: 13px;display:block;margin-bottom: 5px;font-weight:bold;">{_$description} <i class="fa fa-question-circle tooltip_brown" style="color:#83765E" ></i></span>
    <textarea type="text" style="height:50px;" name="{$name}" class="form-control contact_textarea font_size_13px" id="{$id}" placeholder="{_$placeholder}"></textarea>
</div>
{/define}