// COMPONENTS GENERAL
root { 
    display: block;
}

ul.section_list
{
    padding-left: 0px;
    margin-left: 0px;
    display:table;
    list-style-type: none;
}
ul.section_list li
{
    margin-left: 0px;
}
.section_list_icon
{
    color:#a5987f;
    font-size:10px;
    margin-right: 8px;
}
.panel-description
{
    color:gray;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px !important;
}
.panel-edit-button
{
    font-family: sans-serif !important;
}
.spacer
{
    display:block;
    height:20px;
}
// ADDED DOGS COMPONENT
.gender-dog
{
    color:#2087de;
}
.gender-bitch
{
    color:#f67aec;
}
.dog-list
{
    width:100%;
    float:left;
    margin:0px 0px 15px 0px;
    padding:0px 0px 0px 0px;
    
}
.dog-list li
{
    padding:10px;
    width:100%;
    border:1px solid #eee;
    float:left;
    display:block;
    border-radius: 4px;
    list-style-type: none;
    cursor:pointer;
    margin-bottom: 5px;
}
.dog-list li:hover
{
    background-color: whitesmoke;
}
.dog-list li a
{
    width:100%;
    float:left;
    display:block;
}
.dog-list li a:hover
{
    width:100%;
    float:left;
    display:block;
    text-decoration: none;
}
.dog-thumb
{
    display:block;
    background-size:cover;
    width:70px;
    height:70px;
    border-radius: 4px;
    border:1px solid #e4e4e4;
    background: url("../img/dog1.jpg")no-repeat center center;
}
.dog-name
{
   display:block;
   font-family: 'Roboto Condensed', sans-serif;
   font-size:16px;
   font-weight:bold;
   margin-left: 80px;
   text-transform: uppercase;
   color:#a5987f;
   margin-bottom: 5px;
}
.dog-datebirth
{
    display:block;
    width:100%;
    font-size:12px;
    margin-left: 80px;
    text-decoration: none;
    color:gray;
}