body
{
    background-color: #DBD7CD;
}
.content-wrapper
{
    
    margin: 0px 0px 0px 250px;
    padding: 60px 0px 0px 0px;
    
}
@media (max-width: 767px)
{
    .content-wrapper
    {
        padding: 70px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
}
