.profile-header-image
{
    background: url("../img/profile_header.jpg")no-repeat center center;
    background-size:cover;
    height:350px;
}
.header-spacer
{
    display:block;
    height:180px;
}
.image-profile-thumb
{
    margin-left: 20px;
    width:150px;
    border:white 2px solid;
}
.profile-type-description
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px !important;
    color:black;
}