.top-menu
{
    border-bottom: #e4e4e4 1px solid;
}
.refresh-icon
{
    float: left;
    padding: 12px 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    color:#919191;
    cursor:pointer;
}
.toogle-margin-zero
{
    margin-right: 0px !important;
}
.refresh-icon:active
{
    color:#6d6c6c;
}
.refresh-icon:hover
{
    color:#6d6c6c;
}
.notification-bar
{
    float:right;
    display:block
}
.notification-icon
{
    cursor:pointer;
}
.notification-icon-caret
{
}
.notification-bar a:link
{
    padding:15px;
    display:block;
    float:left;
    color:#BBBBBB !important;
    text-decoration:none;
}
.notification-bar a:visited
{
    display:block;
    float:left;
    color:#BBBBBB !important;
    text-decoration:none;
}
.notification-bar a:hover
{
    display:block;
    float:left;
    color:#919191 !important;
    text-decoration: none;
    background-color: #efefef;
}


