<!DOCTYPE html>
<html lang="en">
    {include 'components/head.latte'}
    {includeblock 'components/menu.latte'}
    <body style="background-color: white/*#328bc3*/">
        <div class="container-fluid">
            {include menu}
        </div>
        <div class="container-fluid" style="padding-top: 60px;padding-left: 0px;padding-right: 0px;">
            <!--<div class="row">-->
            {include content}
            <!--</div>-->
        </div>
        <div class="modalx"></div>
    </body>
</html>