{define #selectivity_control}
<span id="tags-input" class="selectivity-input form-control"></span>
<script type="text/javascript">
    alert({$kokot});
    $('#tags-input').selectivity({
        items: ['Dogo Argentino', 'Labrador', 'Golden Retriever'],
        multiple: true,
        tokenSeparators: [',']
        //value: ['Dogo Argentino']
    });
</script>
{/define}