#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Bratislava

nette:
    application:
        mapping:
            *: App\*Module\Presenters\*Presenter
    session:
        expiration: 14 days
        autoStart: true
        savePath: "%tempDir%/sessions"

database:
#    dsn: "mysql:host=localhost;dbname=dfs"
#    user: root
#    password: L884fv57
#    dsn: "mysql:host=31.170.165.185;dbname=u147232041_dfs"
    dsn: "mysql:host=127.0.0.1;dbname=u147232041_dfs"
    user: u147232041_dfs
    password: dfs123

services:
    - App\Model\Authenticator
    - App\Model\AlbumRepository
    nette.latteFactory:
        setup:
            - setTempDirectory(null)
#    - App\Model\DFSTranslator
#    router: App\RouterFactory::createRouter