{layout '@handler_layout.latte'}
{block content}
<div class="col-md-4" style="padding-left: 0px;">
    <!-- Description panel-->
    {includeblock 'handler_description_home.latte'}
    {include handler_description_home}
</div>
<div class="col-md-8" style="padding-left: 0px;">
    <!-- Timeline panel -->
    {includeblock 'handler_timeline_home.latte'}
    {include handler_timeline_home}
</div>
{/block}
