<div style="width:939px; height:648px; padding:26px; background:url(http://localhost/blueticket.forms/tcpdf/templates/01/bg-main-landscape.jpg) no-repeat 0 0;">
    <div style="background-image:url(http://localhost/blueticket.forms/tcpdf/templates/01/deco01.jpg);width:839px; height:548px; padding:50px; background-size:cover;">
    	<img src="http://localhost/blueticket.forms/tcpdf/templates/01/logo-white.png" width="180"><br>
        <h1 style="margin:0; padding:20px 0; color:#fff; font:200 34px Arial;">MARCO PERLA</h1>
        <div style="width:280px; color:#fff; font:200 14px Arial">
            Travertín v spojení s modernou technológiou
            prináša nezameniteľný dizajn. Imitácia prírodného
            kameňa vhodná aj do supermoderných priestorov.
        </div>
        <div style="width:100px; height:90px; padding-top:10px; margin-top:20px; text-align:center; color:#fff; font-family:Arial; background:url(http://localhost/blueticket.forms/tcpdf/templates/01/circle-pink.png) no-repeat 0 0; background-size:cover">
            <div style="font-size:12px">CENA OD</div>
            <div style="font-size:28px">22,65</div>
            <div style="font-size:18px; line-height:18px">EUR/M<sup style="font-size:15px; line-height:10px">2</sup></div>
            <div style="font-size:11px">(BEZ DPH)</div>
        </div>
    </div>
</div>
