{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>

<sitemapindex xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd"
              xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <sitemap>
        <loc>https://dogforshow.com/sitemap_lp.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>

    <sitemap>
        <loc>https://dogforshow.com/sitemap_kennels.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>

    <sitemap>
        <loc>https://dogforshow.com/sitemap_owners.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>

    <sitemap>
        <loc>https://dogforshow.com/sitemap_handlers.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>

    <sitemap>
        <loc>https://dogforshow.com/sitemap_dogs.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>

    <sitemap>
        <loc>https://dogforshow.com/sitemap_puppies.xml</loc>
        <lastmod>{$date}</lastmod>
    </sitemap>
</sitemapindex>