<!DOCTYPE html>
<html lang="en">
    {include 'components/head.latte'}

    <style>
        .active_step
        {
            display:block;
            width:100%;
            height:auto;
/*            background-color:#F7F5EE;*/
            padding:10px;
            border-top-left-radius:10px;
            border-top-right-radius:10px;            
        }

        .active_step_span_circle
        {
            margin:0 auto;
            display:block;
            width:40px;
            height:40px;
            background-color:white;
            border:#a5987f 2px solid;
            text-align: center;
            border-radius: 50px;
            line-height: 35px;
            color:#a5987f;
            font-weight:bold;
            font-size: 20px;
            font-family: 'Roboto Condensed', sans-serif;            
        }

        .active_step_span_text
        {
            display:block;
            color:#a5987f;
            font-weight:bold;
            margin:0 auto;
        }

        .inactive_step
        {
            display:block;
            width:100%;
            height:auto;
            padding:10px;            
        }


        .inactive_step_span_circle
        {
            margin:0 auto;
            display:block;
            width:40px;
            height:40px;
            border:#DCD5C6 2px solid;
            background-color: #EDEBE4;
            text-align: center;
            border-radius: 50px;
            line-height: 35px;
            color:#DCD5C6;
            font-weight:bold;
            font-size: 20px;
            font-family: 'Roboto Condensed', sans-serif;            
        }

        .inactive_step_span_text
        {
            display:block;
            color:#DCD5C6;
            font-weight:bold;
            margin:0 auto;
        }
    </style>

    <body>
	<script type="text/javascript" src="www/js/live-form-validation.js"></script>

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MTKG8H" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            }
            )(window, document, 'script', 'dataLayer', 'GTM-MTKG8H');
        </script>
        <!-- End Google Tag Manager -->

        <script type = "text/javascript">
            function toggleStep2()
            {
                $("#step2").removeClass("inactive_step");
                $("#step2").addClass("active_step");
                $("#step2circle").removeClass("inactive_step_span_circle");
                $("#step2circle").addClass("active_step_span_circle");
                $("#step2text").removeClass("inactive_step_span_text");
                $("#step2text").addClass("active_step_span_text");
                $("#step3").removeClass("active_step");
                $("#step3").addClass("inactive_step");
                $("#step3circle").addClass("inactive_step_span_circle");
                $("#step3circle").removeClass("active_step_span_circle");
                $("#step3text").addClass("inactive_step_span_text");
                $("#step3text").removeClass("active_step_span_text");

                $("#step2circle").html("1");
            }

            function toggleStep3()
            {
                $("#step3").removeClass("inactive_step");
                $("#step3").addClass("active_step");
                $("#step3circle").removeClass("inactive_step_span_circle");
                $("#step3circle").addClass("active_step_span_circle");
                $("#step3text").removeClass("inactive_step_span_text");
                $("#step3text").addClass("active_step_span_text");
                $("#step2").removeClass("active_step");
                $("#step2").addClass("inactive_step");
                $("#step2circle").addClass("inactive_step_span_circle");
                $("#step2circle").removeClass("active_step_span_circle");
                $("#step2text").addClass("inactive_step_span_text");
                $("#step2text").removeClass("active_step_span_text");

                $("#step2circle").html('<i class="fa fa-check"></i>');
            }
        </script>

        <!-- Modal Flash control  -->
        {include 'components/modal_control.latte'}
        <!-- Gallery Modal control  -->
        {include 'components/gallery_modal.latte'}

        <!-- Main content -->
        <nav class="navbar navbar-default navbar-fixed-top" style="height:69px;">
            <div class="container">
                <a n:href="logout! " style="margin-top:30px;color: #A5997F;" class="pull-right">{_ 'Logout'}&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
                <div class="navbar-header">
                    <span class="navbar-brand logotyp" id="logo">
                        <img alt="Brand" style="width:150px;" src="www/img/logo.png">
                    </span>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-bottom: 40px;padding-top: 69px;">
            <h1 class="text-center" style="font-weight:700;">{_ 'Welcome'} {$first_name}!</h1>
            <h2 class="text-center">{_ 'Create your free stunning profile in two easy steps'}</h2>
            <div class="row">
                <div style="display:block;position:relative;width:50%;top:30px;border-bottom: #DCD5C6 3px dotted;margin:0 auto;"></div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div id="step2" class="active_step">
                        <span id="step2circle" class="active_step_span_circle">1</span>
                        <span id="step2text" class="text-center active_step_span_text">{_ 'Choose profile'}</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div id="step3" class="inactive_step">
                        <span id="step3circle" class="inactive_step_span_circle">2</span>
                        <span id="step3text" class="text-center inactive_step_span_text">{_ 'Fill the profile'}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="">
                <div id="step_switcher" class="row" style="margin-left: 0px;margin-right: 0px;">
                    <div class="col-md-12 col-lg-12" style="padding-left: 5px;padding-right: 5px;">
                        {include content}
                    </div>
                </div>
                <div id="step_kennel" class="row" style="margin-left: 0px; margin-right: 0px; display: none">
                    <div class="col-md-12 col-lg-12" style="padding-left: 5px;padding-right: 5px;">
                        {include "kennel/kennel_create_profile_wizard.latte"}
                    </div>
                </div>
                <div id="step_owner" class="row" style="margin-left: 0px; margin-right: 0px; display: none">
                    <div class="col-md-12 col-lg-12" style="padding-left: 5px;padding-right: 5px;">
                        {include "owner/owner_create_profile_wizard.latte"}
                    </div>
                </div>
                <div id="step_handler" class="row" style="margin-left: 0px; margin-right: 0px; display: none">
                    <div class="col-md-12 col-lg-12" style="padding-left: 5px;padding-right: 5px;">
                        {include "handler/handler_create_profile_wizard.latte"}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main content -->
        <!-- Scripts -->
        {foreach $flashes as $flash}
            <script type="text/javascript">
                if ({$flash->type} == 'Error')
                    ShowMessageModal(enumNotificationType.error, {$flash->message});
                if ({$flash->type} == 'Warning')
                    ShowMessageModal(enumNotificationType.warning, {$flash->message});
                if ({$flash->type} == 'Info')
                    ShowMessageModal(enumNotificationType.information, {$flash->message});
                if ({$flash->type} == 'Success')
                    ShowMessageModal(enumNotificationType.success, {$flash->message});
                if ({$flash->type} == 'Confirmation')
                    ShowMessageModal(enumNotificationType.confirmation, {$flash->message});
            </script>
        {/foreach}
        <div id="ajax-spinner"></div>
        <script type="text/javascript">
            $.nette.init();
            $("#ajax-spinner").hide();
//	    /* Volání AJAXu u všech odkazů s třídou ajax */
//	    $("a.ajax").live("click", function (event) {
//		event.preventDefault();
//		$.get(this.href);
//	    });
        </script>
    </body>
</html>