<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DOGFORSHOW</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="International social network for purebred dogs,kennels,owners,handlers,dog for mating,puppies for sale,planned litters,titles,show results,photos,videos">
        <link href="www/css/home.css" rel="stylesheet">
        <!-- Google font definition -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300|500' rel='stylesheet' type='text/css'>
        <!-- Bootstrap definition -->
        <link href="www/css/bootstrap.min.css" rel="stylesheet">
        <link href="www/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Typographyp definition -->
        <link href="www/css/typography.css" rel="stylesheet">
        <!-- Top Menu section definition -->
        <link href="www/css/top-menu.css" rel="stylesheet">
        <!-- User Menu section definition -->
        <link href="www/css/user-menu.css" rel="stylesheet">
        <!-- Profile Menu section definition -->
        <link href="www/css/profile-menu.css" rel="stylesheet">
        <!-- Edit Profile Menu section definition -->
        <link href="www/css/edit-profile-menu.css" rel="stylesheet">
        <!-- Main template definition -->
        <link href="www/css/main.css" rel="stylesheet">
        <!-- Components definition -->
        <link href="www/css/components.css" rel="stylesheet">
        <!-- Profile template -->
        <link href="www/css/profile.css" rel="stylesheet">
        <!-- Timeline template -->
        <link href="www/css/timeline.css" rel="stylesheet">
        <!-- Glyphicons -->
        <link rel="stylesheet" href="www/fonts/glyphicons/font-awesome/css/font-awesome.min.css">
        <!-- Glyphicons PRO -->
        <link rel="stylesheet" href="www/fonts/glyphicons/pro-awesome/css/glyphicons-pro.css">

        <script src="www/js/jquery.js"></script>
        <script src="www/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="www/js/fileup/css/jquery.fileupload.css">
        <link rel="stylesheet" href="www/js/fileup/css/jquery.fileupload-ui.css">
        <script type="text/javascript" src="www/js/fileup/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="www/js/fileup/js/jquery.fileupload-ui.js"></script>
        <style>
            .loading_bar_body {
                height: 100%;
                width: 100%;
                top:0;
                left:0;
                background: url(img/ajax-loader.gif) no-repeat 50% 50%;
            }
        </style>
        <!-- noty - popup alerts -->
        <script src="www/js/jquery-noty/packaged/jquery.noty.packaged.min.js" type="text/javascript"></script>
        <script src="www/js/jquery-noty/themes/bootstrap.js" type="text/javascript"></script>
        <!-- Loading animation -->
        <script src="www/js/jquery.nimble.loader.js" type="text/javascript"></script>
        <script src="www/templates/js/pageinit.js" type="text/javascript"></script>
        <link rel="stylesheet" href="www/css/selectivity-full.css">
        <script type="text/javascript" src="www/js/selectivity-full.js"></script>

        <script type="text/javascript">
            $(document).ready(function ()
            {
                var wheight = $(window).height() - 51;
                $(".user-menu").css("max-height", wheight);
            });
            $(window).resize(function () {
                var wheight = $(window).height() - 51;
                $(".user-menu").css("max-height", wheight);
            });
        </script>
    </head>
    <body>
        <div id="modalFlash" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="modalFlash" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="modalFlashInformation" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color:#a5987f;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-info-circle fa-1x" style="float:left;margin-right: 5px;font-size:22px;"></i>
                        <h4 class="modal-title" id="modalTitleInformation" style="font-weight:bold;font-size:15px;"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalTextInformation"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modalFlashConfirmation" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color: #FDB42F;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-question-circle fa-1x" style="float:left;margin-right: 5px;font-size:22px;"></i>
                        <h4 class="modal-title" id="modalTitleConfirmation" style="font-weight:bold;font-size:15px;"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalTextConfirmation"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modalFlashError" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color: #c12e2a">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-times-circle fa-1x" style="float:left;margin-right: 5px;font-size:22px;"></i>
                        <h4 class="modal-title" id="modalTitleError" style="font-weight:bold;font-size:15px;"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalTextError"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modalFlashSuccess" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color: #45B219">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-check-circle fa-1x" style="float:left;margin-right: 5px;font-size:22px;"></i>
                        <h4 class="modal-title" id="modalTitleSuccess" style="font-weight:bold;font-size:15px;"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalTextSuccess"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modalFlashWarning" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color: #c12e2a">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-exclamation-circle fa-1x" style="float:left;margin-right: 5px;font-size:22px;"></i>
                        <h4 class="modal-title" id="modalTitleWarning" style="font-weight:bold;font-size:15px;"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalTextWarning"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- top-menu -->
        {include 'menu/top-menu.latte'}
        <!-- /top-menu -->
        <!-- user-menu -->
        {include 'menu/user-menu.latte'}
        <!--/user-menu -->

        <!-- Main content -->
        <div class="container-fluid content-wrapper">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-md-12" style="padding-left: 5px;padding-right: 5px;">
                    {include content}
                </div>
            </div>
        </div>
        <!-- /Main content -->
        <!-- Scripts -->
        {foreach $flashes as $flash}
            <script type="text/javascript">
                if ({$flash->type} == 'Error')
                    ShowMessageModal(enumNotificationType.error, {$flash->message});
                if ({$flash->type} == 'Warning')
                    ShowMessageModal(enumNotificationType.warning, {$flash->message});
                if ({$flash->type} == 'Info')
                    ShowMessageModal(enumNotificationType.information, {$flash->message});
                if ({$flash->type} == 'Success')
                    ShowMessageModal(enumNotificationType.success, {$flash->message});
                if ({$flash->type} == 'Confirmation')
                    ShowMessageModal(enumNotificationType.confirmation, {$flash->message});
            </script>
        {/foreach}
    </body>
</html>