.wide {
    display:flex;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 0px !important;
    text-align: center;
    width:100%;
    min-height:600px;
    /*background:url("../img/new_header_brown.jpg")no-repeat center;*/
    background:url("../img/new_header.jpg")no-repeat center;
    background-size:cover;
}
.wide_cta {
    display:flex;
    align-items: center;
    margin-bottom: 0px !important;
    text-align: center;
    width:100%;
    min-height:450px;
    background:url("../img/time2.jpg")no-repeat center;
    background-size:cover;
}
.wide_cta_caption
{
    display:block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700 !important;
    color:white !important;
    font-size: 35px !important;
    margin-bottom: 20px;
}
.wide_cta_secondary_text
{
    display:block;
    font-family: 'Roboto Condensed', sans-serif;
    color:white !important;
    font-size: 20px !important;
    margin-bottom: 20px;
    
}
.wide h1
{
    text-transform: uppercase !important; 
    font-family: Arial, sans-serif;
    font-weight:700 !important;
    color:white !important;
    font-size: 42px !important;
}
.wide h2
{
    font-family: 'Roboto Condensed', sans-serif;
    /*font-weight:700 !important;*/
    color:white !important;
    font-size: 28px !important;
}
.reason_heading
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #a5987f;
    margin-bottom: 20px;
}
.reason
{
    text-align: left;
    font-size: 15px !important;
    color:#7b7b7b;
}
.cta-placeholder
{
    padding: 10px 15px;
}
.btn-cta
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta:link
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta:active
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta:focus
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta:hover
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #f39a1c;
    border: #f39a1c 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-small
{
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-small:link
{
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-small:active
{
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-small:focus
{
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #e08300;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-small:hover
{
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white !important;
    text-transform: uppercase;
    background-color: #f39a1c;
    border: #f39a1c 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-invert
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#e08300 !important;
    text-transform: uppercase;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-invert:link
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#e08300 !important;
    text-transform: uppercase;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-invert:active
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#e08300 !important;
    text-transform: uppercase;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-invert:focus
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#e08300 !important;
    text-transform: uppercase;
    border: #e08300 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn-cta-invert:hover
{
    display:block;
    padding: 14px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#f39a1c !important;
    text-transform: uppercase;
    border: #f39a1c 2px solid;
    font-size:1.5em;
    border-radius: 4px;
    text-decoration: none !important;
}
.light_bar
{
    background-color: #e8e2d4;
    padding:10px 10px 10px 10px;
}
.dark_bar
{
    background-color: #8C8067;
    padding:10px 10px 10px 10px;
}
.white_bar
{
    background-color: white;
    padding:10px 10px 10px 10px;
}
.white_bar h2
{
    display:block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700 !important;
    color:#8C8067 !important;
    font-size: 35px !important;
    margin-bottom: 50px;
}
.bar_spacing
{
    padding:40px 0px;
}
.reason_box
{
    margin-bottom: 40px;
}
.counter_placeholder
{
    text-align: center;
    color:#a5997f;
    border-right:#a5997f 1px dotted;
    border-bottom:none;
    margin-bottom: 10px;
}
.counter_value
{
    display:block;
    font-size:30px;
    font-weight:bold;
}
.counter_description
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight:700;
}
.icon_spacing
{
    margin-right: 10px;
}
.login_placeholder
{
    padding-top: 50px;
}
.testimonials_placeholder
{
    min-height: 500px;
}
.reason_icon
{
    color:#8C8067;
}
.landing_badge
{
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute !important;
    right: 10px;
    padding: 5px 10px !important;
    font-size: 14px;
    background-color: #8c8067;
}
.footer_placeholder
{
    background-color: #6d624a;
    padding:30px 0px;
}
#contact
{
    padding:30px 0px;
}
.footer_links
{
    border-bottom: 1px #9c9077 solid;
}
.footer_icon_links
{
    color: #bbb098 !important;
}
    
@media only screen and (max-width : 480px)
{
    .wide h1
    {
        text-transform: uppercase !important; 
        font-family: Arial, sans-serif;
        font-weight:700 !important;
        color:white !important;
        font-size: 30px !important;
    }
    .wide h2
    {
        font-family: 'Roboto Condensed', sans-serif;
        /*font-weight:700 !important;*/
        color:white !important;
        font-size: 20px !important;
    }
    .white_bar h2
    {
        display:block;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight:700 !important;
        color:#8C8067 !important;
        font-size: 30px !important;
        margin-bottom: 50px;
    }
    .wide_cta_caption
    {
        display:block;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight:700 !important;
        color:white !important;
        font-size: 30px !important;
        margin-bottom: 20px;
    }
    .cta-placeholder
    {
        padding: 10px 15px;
    }
    .wide {
    display:flex;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 0px !important;
    text-align: center;
    width:100%;
    min-height:550px;
    background:url("../img/new_header_mobile.jpg")no-repeat center;
    background-size:cover;
    }
    .wide_cta {
    display:flex;
    align-items: center;
    margin-bottom: 0px !important;
    text-align: center;
    width:100%;
    min-height:550px;
    background:url("../img/time2_mobile.jpg")no-repeat center;
    background-size:cover;
}
    .reason_box
    {
        margin-bottom: 60px;
    }
    .counter_placeholder
    {
        text-align: center;
        color:#a5997f;
        border-right:none;
        border-bottom:none;
        margin-bottom: 10px;
    }
    .testimonials_placeholder
    {
        min-height: 600px;
    }
}
