body
{
    background-color: #EDEBE4;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.content-wrapper
{
    
    margin: 0px 0px 0px 250px;
    padding-top: 65px;
    padding-left: 0px;
    padding-right: 15px;
    
}
@media (max-width: 767px)
{
    .content-wrapper
    {
        padding: 70px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
}
