.premium-header-placeholder
{
    display: block;
    margin-bottom: 0px !important;
    text-align: center;
    width: 100%;
    min-height: 600px;
    background: url(../img/premium_header.jpg)no-repeat center;
    background-size: cover;
}
.premium-header-text-placeholder
{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    text-align: center;
    width: 100%;
    height: 600px;
}
.premium-caption
{
    text-transform: uppercase !important; 
    font-family: Arial, sans-serif;
    font-weight:700 !important;
    color:white !important;
    font-size: 42px !important;
}
.premium-caption-secondary-text
{
    font-family: 'Roboto Condensed', sans-serif;
    /*font-weight:700 !important;*/
    color:white !important;
    font-size: 28px !important;
    margin-bottom: 30px;
}
.body-caption
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700 !important;
    color: #8C8067 !important;
    font-size: 35px !important;
    margin-bottom: 30px;
    text-align: center;
}
.body-caption-limited-offer
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700 !important;
    color: #8C8067 !important;
    font-size: 35px !important;
    margin-bottom: 30px;
    text-align: center;
}
.benefits-map
{
    padding:40px 0px;
    margin:0px;
    background-color: white;
}
.benefits-placeholder
{
    padding:40px 0px;
    margin:0px;
    background-color: white;
}
.limited-offer-placeholder
{
    padding:40px 0px;
    margin:0px;
    background-color: black;
}
.reference-placeholder
{
    background: url(../img/testimonial_back.jpg)no-repeat center;
    background-size: cover;
    padding:80px 0px;
    margin:0px;
    /*background-color: white;*/
    min-height:500px;
}
.pricing-placeholder
{
    padding: 80px 0px 20px 0px;
    margin:0px;
}
.premium-cta-placeholder
{
    padding: 0px 0px 30px 0px;
    margin:0px;
}
.premium-reason-heading
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700 !important;
    color: #8C8067 !important;
    font-size: 20px !important;
    margin-bottom: 10px;
    text-align: center;
}
.premium-reason-paragraph
{
    text-align: left;
    font-size: 15px !important;
    color: #7b7b7b;
}
.limited-offer-price-1
{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 80px;
    color:white;
}
.limited-offer-price-2
{
    padding:0px !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    color:white;
}
.limited-offer-paragraph
{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    color:white;
}
.premium-reason-icon
{
    color: #8C8067 !important;
}
.testimonial-logo
{
    margin:0 auto;
    width: 150px !important;
    border-radius: 250px;
    border:#8c8067 4px solid;
}
.carousel-company-name
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #8c8067 !important;
}
.carousel-function
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #8c8067 !important;
}
.carousel-text
{
    padding: 0px 20px;
    min-height: 100px;
    margin-top: 20px;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color: black !important;
    font-weight: bold;
    font-size: 18px !important;
    text-align: left;
    margin-bottom: 30px;
}
.carousel-indicators li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 7px;
    cursor: pointer;
    background-color: none !important;
    border: none !important;
    border-radius: 10px;
    text-indent:0 !important;
}
.carousel-indicators li:before
{
    font-family: FontAwesome !important;
    content:"\f1b0" !important;
    font-size: 16px !important;
    color:#b5a98f;
}
.carousel-indicators .active:before {
    font-family: FontAwesome !important;
    content:"\f1b0" !important;
    font-size: 25px !important;
    color:#e08300;
    border: none !important;
    background-color: none !important;
}
.premium-carousel
{
    color:black !important;
}
table.pricing-table
{
    width:100%;
}
table.pricing-table td.table-pricing-head-placeholder
{
    position:relative;
    background-color: white;
    width:25%;
    height:40px;
    border-radius: 50px 50px 0px 0px;
}
table.pricing-table td.table-pricing-price-placeholder
{
    position:relative;
    background-color: rgba(255, 255, 255, 0.87);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px !important;
    color:#8C8067;
    width:25%;
    height:auto;
    text-align: center;
}
table.pricing-table td.table-pricing-period-placeholder
{
    position:relative;
    padding:5px 5px;
    background-color: rgba(140, 128, 103, 0.68);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px !important;
    color:white;
    width:25%;
    height:auto;
    text-align: center;
}
@media (max-width:767px)
{
    table.pricing-table td.table-pricing-head-placeholder img
    {
        display: block;
        right:0;
        position: absolute;
        top: -40px;
    }
}
@media (min-width:768px)
{
    table.pricing-table td.table-pricing-head-placeholder img
    {
        display: block;
        right:0;
        position: absolute;
        top: -160px;
    }
}
table.pricing-table td.table-pricing-info
{
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
    width:25%;
    padding:0px 5px;
    font-size:15px;
    text-align: left;
}
table.pricing-table td.table-pricing-info i
{
   color:rgba(140, 128, 103, 0.68);
   margin-right: 5px;
}
table.pricing-table td.table-pricing-info-value
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    color:black;
    width:25%;
    padding:0px 5px;
    font-size:15px;
    text-align: center;
}
table.pricing-table td.table-pricing-info-value i
{
    background-color: white;
    color:black;
    width:25%;
    padding:0px 5px;
    font-size:35px;
    text-align: center;
}
a.limited-offer-notify
{
    padding: 5px 10px;
    position: fixed;
    z-index: 20;
    right: 15px;
    bottom: 10px;
    display: block;
    background-color: #e08300;
    border-radius: 40px;
    cursor: pointer;
}
a.limited-offer-notify i
{
    font-size:3em;
    color:white;
}
.notify-text
{
    display: inline-block;
    color: white;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 1em;
}
@media only screen and (max-width: 480px)
{
    .body-caption-limited-offer
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700 !important;
    color: #8C8067 !important;
    font-size: 30px !important;
    margin-bottom: 10px;
    text-align: center;
}
.limited-offer-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
}
.limited-offer-price-1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}
.premium-caption
{
    text-transform: uppercase !important; 
    font-family: Arial, sans-serif;
    font-weight:700 !important;
    color:white !important;
    font-size: 30px !important;
}
.premium-caption-secondary-text {
    font-family: 'Roboto Condensed', sans-serif;
    /* font-weight: 700 !important; */
    color: white !important;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.premium-header-placeholder
{
    display: block;
    margin-bottom: 0px !important;
    text-align: center;
    width: 100%;
    min-height: 600px;
    background: url(../img/premium_header_small.jpg)no-repeat center;
    background-size: cover;
}
.body-caption
{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700 !important;
    color: #8C8067 !important;
    font-size: 25px !important;
    margin-bottom: 30px;
    text-align: center;
}
}
@media (min-width: 1200px)
{
    .container-premium
    {
        max-width:1170px !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 992px)
{
    .container-premium
    {
        max-width:1170px !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
}

@media (min-width: 768px)
{
    .container-premium
    {
        max-width:1170px !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
}
